/* reset CSS */
html, body {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "DS-Digital" ;
    src: url("./assets/fonts/DS-DIGI.TTF");
}

/* .ds-digital{
    font-family:'DS-Digital'; 
    position: absolute; 
    left: -1000; 
    visibility: hidden;
} */